{% extends '_layout.html' %}

{% load tailwind %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

  {{ block.super }}

  <div class="flex flex-col px-3 md:px-0 py-4 items-center">
    <div class="flex w-full justify-start mb-3">
      <button id="btn-back" onclick="window.history.back()" class="btn btn-outline"><i
          class="fa-solid fa-arrow-left mr-2"></i>Back
      </button>
    </div>

    <div class="card bg-base-100 w-full max-w-md">
      <div class="card-body">
        <form method="POST" action="{% url 'account_change_password' %}" class="flex flex-col items-center">
          {% csrf_token %}

          <div class="w-full max-w-xs">
            {% for f in form %}
              <label for="{{ f.auto_id }}" class="label">
                <span class="label-text">{{ f.label }}</span>
              </label>
              {{ f|tailwind_input }}
              {% if f.errors %}
                <label class="label">
                  <span class="label-text-alt text-red-500">{{ f.errors|first }}</span>
                </label>
              {% endif %}
            {% endfor %}
          </div>

          <div class="pt-5">
            <a href="{% url 'accounts:user-profile' %}" class="btn btn-outline mr-2">Cancel</a>
            <button type="submit" name="action" class="btn btn-primary">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}