{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container py-4">

        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Change Password</h1>
                <hr>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="text-center">
                        <a href="{% url 'accounts:user-profile' %}" class="btn btn-mg-outline-default mr-2">Cancel</a>
                        <button type="submit" name="action" class="btn btn-mg-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


{% endblock %}