{% extends "_layout.html" %}

{% block head_title %}Sign Up - Mennoniten Gemeinde{% endblock %}

{% block content %}

    <div class="flex flex-col items-center py-10 px-2">
        <div>

            <div class="flex justify-start">
                <h1 class="text-3xl pb-5">Sign Up</h1>
            </div>
            <div class="card max-w-sm">

                <form id="signup_form" method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="flex justify-center space-x-2 pt-2">
                        <a href="{% url 'home:home' %}" class="btn btn-default">Cancel</a>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}