{% extends 'layout.html' %}

{% block content %}

    {{ block.super }}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Father</h3>
                </div>
                <div class="card-body">
                    {% if father %}
                        <p><span class="font-weight-bold">Name:</span> </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>First last name</th>
                            <th>Second last name</th>
                            <th>Gender</th>
                            <th>Date of birth</th>
                            <th>Parent type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in family.children.all %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
