{% extends '_layout.html' %}

{% load static %}

{% block meta %}<meta name="referrer" content="same-origin">{% endblock %}

{% block content %}
    <div class="py-4">

        <div class="flex justify-start py-4 sm:pt-0 pl-4 sm:pl-0">
            <a href="{% url 'sermons:sermons-list' %}" class="btn">
                <i class="fa-solid fa-arrow-left mr-2"></i>Back
            </a>
        </div>

        <div class="card bg-base-100">
            <div class="card-body">
                {% if sermon.video_url %}
                    <iframe class="aspect-video w-full"
                            referrerpolicy="origin-when-cross-origin"
                            src="{{ sermon.video_url }}"
                            allowfullscreen></iframe>
                {% endif %}

                <h1 class="pt-4 text-xl font-bold font-serif">{{ sermon.title }}</h1>

                <div class="flex flex-col sm:flex-row justify-between">
                    <div class="flex flex-col">
                        <p class="text-sm local-date"
                           data-date="{{ sermon.event.start|date:'U' }}">{{ sermon.event.start|date:'M j, Y' }}</p>
                        <div>
                            {% for speaker in sermon.speakers.all %}<span class="badge badge-primary">{{ speaker }}</span>{% endfor %}
                            <span class="badge badge-secondary">{{ sermon.event.church }}</span>

                        </div>
                    </div>
                    <div class="flex justify-start sm:justify-center py-2 sm:py-0 items-center">
                        <a class="btn btn-ghost"
                           href="{% url 'sermons:sermons-download' pk=sermon.id %}">
                            <i class="fa-solid fa-download mr-2"></i>
                            Download
                        </a>
                    </div>
                </div>

                {% if sermon.description %}<p class="py-1">{{ sermon.description }}</p>{% endif %}

                {% if sermon.audio_low %}
                    <div class="py-5">
                        <audio id="player" controls preload="none" class="w-full">
                            <source src="{{ sermon.audio_low.url }}" type="audio/mpeg">
                        </audio>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

