{% extends '_layout.html' %}

{% load static %}

{% load math_tags %}

{% block meta %}
  <meta name="robots" content="index, follow"/>
{% endblock %}

{% block content %}
    <div class="bg-hero-background flex flex-col items-center justify-center py-14 bg-cover bg-no-repeat bg-center">
        <h3 class="text-3xl text-gray-200 text-center">
            Welcome to <span class="text-primary font-bold">Mennoniten Gemeinde</span>
        </h3>
        <hr class="text-white w-10/12 my-2">
        <p class="text-white mx-24 text-center">For other foundation can no man lay than that is laid, which is Jesus Christ. 1 Corinthians 3:11</p>
    </div>
{% endblock %}
