{% extends 'layout.html' %}

{% load static %}
{% load compress %}
{% load math_tags %}

{% block meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block css %}
    {% compress css inline %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="home-container">
        <h3 class="card-title">Welcome to <span class="text-secondary">Mennoniten Gemeinde</span></h3>
{#        <h6>Here you will find Sermons which could be a blessing for your Spiritual life</h6>#}
        <hr>
{#        <p>Look not every man on his own things, but every man also on the things of others.#}
{#            Let this mind be in you, which was also in Christ Jesus:#}
{#            Who, being in the form of God, thought it not robbery to be equal with God:#}
{#            But made himself of no reputation, and took upon him the form of a servant, and was made in the#}
{#            likeness of men:#}
{#            And being found in fashion as a man, he humbled himself, and became obedient unto death, even the#}
{#            death of the cross.#}
{#            Wherefore God also hath highly exalted him, and given him a name which is above every name:#}
{#            That at the name of Jesus every knee should bow, of things in heaven, and things in earth, and#}
{#            things under the earth;#}
{#            And that every tongue should confess that Jesus Christ is Lord, to the glory of God the#}
{#            Father. Philippians 2:4-11#}
{#        </p>#}
        <p>For other foundation can no man lay than that is laid, which is Jesus Christ. 1 Corinthians 3:11</p>
    </div>

    <div class="container-fluid py-3">
{#        <div class="alert alert-warning">#}
{#            Due to COVID-19, we were unable to host live gatherings, but we are happy to announce, that we can reopen at#}
{#            30% building capacity, starting June 13, 2020!#}
{#            <br>#}
{#            <br>#}
{#            NOTE: This does not lift the emergency order under the Quarantine Act that the Government of Canada has put#}
{#            in place. It applies to all travellers. Upon arrival in Canada, by air or by land, you must quarantine#}
{#            (self-isolate) for 14 days. This is mandatory. We ask that you respect this requirement, if you have#}
{#            travelled out of the country or are experiencing any symptoms (fever, coughing and difficulty breathing) we#}
{#            invite you to join us for our Live Online Stream.#}
{##}
{#        </div>#}

        <h4 class="mt-5 text-center text-mg-dark">Upcoming Events</h4>
        <hr>

        <div class="row">
            {% for event in events %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-4">
                    <div class="card shadow home-event-card my-4">
                        <div class="card-body d-flex flex-column p-4">
                            <div class="mb-2">
                                <h5 class="card-title mt-1 mb-0">{{ event.title }}</h5>
                                <div class="small">{{ event.church|upper }}</div>
                            </div>
                            <div class="mb-1">
                                <span class="small local-date mr-3" data-date="{{ event.start|date:'U' }}">
                                    <i class="fas fa-calendar-alt mr-1"></i>
                                </span>
                                <span class="small local-time" data-time="{{ event.start|date:'U' }}">
                                    <i class="fas fa-clock mr-1"></i>
                                </span>
                            </div>

                            {% if event.in_person or event.live_stream %}
                                <div class="small">
                                    {% if event.in_person %}
                                        <span class="text-secondary mr-3"><i
                                                class="fas fa-church mr-1"></i>In Church</span>
                                    {% endif %}
                                    {% if event.live_stream %}
                                        <span class="text-info"><i
                                                class="fas fa-video mr-1"></i>Live stream</span>
{#                                        <div class="text-center mt-3">#}
{#                                            <a href="{% url 'streams:streams-list' %}" class="btn btn-sm btn-round btn-mg-outline-primary"><i class="fas fa-circle text-danger mr-1"></i>Live</a>#}
{#                                        </div>#}
                                        {% endif %}
                                </div>
                            {% endif %}

                            {% if event.attendance_limit != 0 and event.attendance_signup %}
                                <div class="font-weight-bold mt-2">
                                    Space available: <span
                                        class="{% if event.available_attendance == 0 %}text-danger{% else %}text-success{% endif %}">{{ event.available_attendance }}</span>
                                </div>
                            {% endif %}


                            <div class="d-flex flex-grow-1 justify-content-around align-items-end">
                                {% if event.available_attendance is not 0 and event.attendance_signup %}
                                    <a href="{% url 'schedules:attendants-create' church=event.church event=event.id %}"
                                       class="btn btn-sm btn-round btn-primary shadow mr-2">Signup <i
                                            class="fas fa-pen ml-1"></i></a>
                                {% endif %}
                                {% if event.live_stream %}
                                    <a href="{% url 'streams:streams-list' %}" class="btn btn-sm btn-round btn-outline-primary shadow"><i class="fas fa-circle text-danger mr-1"></i>Live</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center py-3">
            <a href="{% url 'schedules:events-list' %}" class="btn btn-round btn-secondary shadow"><i
                    class="fas fa-calendar-alt mr-2"></i>Show all Events</a>
        </div>

    </div>

{#    <hr>#}

    <div class="row bg-primary m-0 py-5">
        <div class="card bg-warning text-light home-nav-card shadow col-8 offset-2 col-md-4 offset-md-1 col-lg-3 offset-lg-2 mb-5 mb-md-0">
            <div class="card-body d-flex flex-column text-center">
                <div class="card-icon"><i class="fas fa-microphone"></i></div>
                <h4>Sermons</h4>
                <p class="card-text">Watch or listen to past recorded sermons</p>
                <a class="btn btn-round btn-outline-default shadow mt-auto" href="{% url 'sermons:sermons-list' %}">
                    <i class="fas fa-microphone mr-1"></i>
                    Sermons
                </a>
            </div>
        </div>

        <div class="card bg-info text-light home-nav-card shadow col-8 offset-2 col-md-4 offset-md-2 col-lg-3 offset-lg-2">
            <div class="card-body d-flex flex-column text-center">
                <div class="card-icon"><i class="fas fa-camera"></i></div>
                <h4>Live</h4>
                <p class="card-text">Watch or listen to live sermons</p>
                <a class="btn btn-round btn-outline-default shadow mt-auto" href="{% url 'streams:streams-list' %}">
                    <i class="fas fa-circle mr-1"></i>
                    Live
                </a>
            </div>
        </div>
    </div>

    <div class="row mx-0">
        <div class="col-10 offset-1 col-md-6 offset-md-3 py-5">
            {% include 'contactus/contact-form.html' %}
        </div>
    </div>

{% endblock %}