{% extends '_layout.html' %}

{% load static %}

{% load math_tags %}

{% block meta %}
    <meta name="robots" content="index, follow"/>
{% endblock %}

{% block content %}
    <div class="bg-hero-background flex flex-col items-center justify-center py-14 min-h-[20rem] bg-cover bg-no-repeat bg-center shadow rounded-b-2xl sm:rounded-xl">
        <h1 class="text-3xl text-gray-200 text-center">
            Welcome to <span class="text-primary font-bold">Mennoniten Gemeinde</span>
        </h1>
        <hr class="text-white w-10/12 my-2">
        <p class="text-white mx-24 text-center">For other foundation can no man lay than that is laid, which is Jesus
            Christ. 1 Corinthians 3:11</p>
    </div>

    <div class="card mt-10">
        <div class="flex flex-col w-full items-center md:flex-row md:justify-between">
            <div class="flex items-center pb-8 md:flex-col md:justify-center md:w-1/2 md:pb-0">
                <img class="w-1/2 md:w-3/4" src="{% static 'img/booking_re_gw4j.svg' %}" alt="Events">
                <div class="ml-3 md:text-center md:ml-0 md:pt-8 md:w-1/2">
                    <h2 class="text-primary text-2xl font-bold">Events</h2>
                    <p class="pt-1">The following events are scheduled for the coming days</p>
                </div>
            </div>

            <div class="grid grid-cols-[auto,_1fr] w-fit md:w-1/2 items-center">
                {% for event in events %}
                    {#                <article class="flex">#}
                    {% ifchanged %}
                        <div class="z-0 flex text-white bg-primary px-3 my-1 rounded-full self-baseline justify-center">
                            {{ event.start.date|date:"M j" }}
                        </div>
                    {% endifchanged %}
                    {#                    <div class="col-start-2 overflow-hidden flex flex-col pt-1 pb-5 pl-7">#}
                    <div class="col-start-2 overflow-hidden flex flex-col border-l border-primary -ml-9 pb-5 pl-14{% if forloop.first %} mt-2{% elif forloop.last %} pb-0{% else %} pt-2{% endif %}">
                        <p class="font-mono font-bold text-sm text-primary">{{ event.start.time }}</p>
                        <h3 class="font-bold text-primary truncate">{{ event.title }}</h3>
                        <p>{{ event.church }}</p>
                    </div>
                    {#                </article>#}
                {% endfor %}
            </div>
        </div>
        <div class="flex justify-center pt-8">
            <a href="{% url 'schedules:events-list' %}" class="btn btn-primary"><i class="fas fa-calendar mr-2"></i> All
                Events</a>
        </div>
    </div>
    {# Live stream section #}
    <div class="flex flex-col-reverse items-center justify-center justify-around my-16 md:py-16 md:flex-row">
        <div class="card flex flex-col justify-center items-center w-1/2 md:w-1/3">
            <h2 class="text-primary text-2xl font-bold">Live Stream</h2>
            <p class="pt-1 text-center">If you are not able to assist in person, We also livestream some of our events</p>
            <div class="my-4">
                <a href="{% url 'schedules:events-list' %}" class="btn btn-primary"><i class="fas fa-circle mr-2"></i>
                    Live
                </a>
            </div>
        </div>
        <img class="w-1/2 md:w-1/3" src="{% static 'img/video_streaming_re_v3qg.svg' %}" alt="Live">
    </div>
    {# Sermons section #}
    <div class="card flex flex-col items-center md:flex-row justify-around">
        <div class="flex flex-col justify-center items-center w-1/2 px-8">
            <img class="w-3/4" src="{% static 'img/media_player_re_rdd2.svg' %}" alt="Live">
            <div class="flex flex-col justify-center items-center pt-8">
                <h2 class="text-primary text-2xl font-bold">Sermons</h2>
                <p class="pt-1 text-center">Browse through our historical sermons that were recorded</p>
                <div class="my-4">
                    <a href="{% url 'schedules:events-list' %}" class="btn btn-primary"><i class="fas fa-circle mr-2"></i>
                        Sermons
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col w-1/2 md:pl-8">
            {% for sermon in events %}
                <div class="card bg-primary text-white shadow flex overflow-hidden w-full my-3">
                    <h3 class="font-medium truncate">{{ sermon.title }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
