# Have defaults
SECRET_KEY=#xk&tivq8s*pq6ztb1%hj%kv_&h3620#n$qu+i8(xor@28wdma
DEBUG=False
ALLOWED_HOSTS=localhost
CSRF_ORIGINS=http://test.com,https://test.org
PRODUCTION_DB=True
DB_PORT=5432
ADMIN_URL=admin/

# Do not have defaults
DB_USER=username
DB_PASSWORD=password
DB_HOST=host.docker.internal

# SendGrid
SENDGRID_API_KEY=aprivatekey
DEFAULT_FROM_EMAIL=email@domain.com

# Azure
AZURE_ACCOUNT_NAME=name
AZURE_ACCOUNT_KEY=key
AZURE_CONTAINER=name
