coreapi==2.3.3
crispy-bootstrap5==0.7
Django==4.1.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dj-rest-auth==2.2.5
django-allauth==0.51.0
django_compressor==4.1
django-cors-headers==3.13.0
django-countries==7.4.2
django-crispy-forms==1.14.0
django-environ==0.9.0
django_htmx==1.13.0
django-libsass==0.9
django-pwa==1.0.10
django-rest-swagger==2.2.0
django-sendgrid-v5==1.2.1
django_storages[azure]==1.13.1
pyTelegramBotAPI==4.8.0
gunicorn==20.1.0
Pillow==9.3.0
psycopg2-binary==2.9.5
requests==2.28.1
whitenoise==6.2.0
