coreapi==2.3.3
Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dj-rest-auth==5.0.2
django-allauth==0.59.0
django_compressor==4.4
django-cors-headers==4.3.1
django-countries==7.5.1
django-environ==0.11.2
django_htmx==1.17.2
django-libsass==0.9
django-pwa==1.1.0
django-rest-swagger==2.2.0
django-sendgrid-v5==1.2.3
django_storages[azure]==1.14.2
pyTelegramBotAPI==4.14.1
gunicorn==21.2.0
Pillow==10.1.0
psycopg2-binary==2.9.9
requests==2.31.0
whitenoise==6.6.0