# Have defaults
SECRET_KEY=django-insecure-7l#y#y5f@qulo0&48tt(=&2xbx_69&sb67vmk+a9uh&t_2j833
DEBUG=False
ALLOWED_HOSTS=test.com,test.org
CSRF_ORIGINS=http://test.com,https://test.org
PRODUCTION_DB=True
DB_PORT=5432
ADMIN_URL=admin/
DB_USER=username
DB_PASS=password
DB_HOST=host.docker.internal

# Social Auth
GOOGLE_CLIENT_ID=clientid
GOOGLE_CLIENT_SECRET=asecret

# SendGrid
SENDGRID_API_KEY=aprivatekey
DEFAULT_FROM_EMAIL = 'email@domain.com'

# Azure
AZURE_ACCOUNT_NAME=name
AZURE_ACCOUNT_KEY=key
AZURE_CONTAINER=name

# Telegram
BOT_API_KEY=a_secret_key
