# Have defaults
SECRET_KEY=#xk&tivq8s*pq6ztb1%hj%kv_&h3620#n$qu+i8(xor@28wdma
DEBUG=off
ALLOWED_HOSTS=[]
PRODUCTION_DB=on

# Do not have defaults
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost

# Azure
AZURE_ACCOUNT_NAME=name
AZURE_ACCOUNT_KEY=key
AZURE_CONTAINER=name