{% extends '_layout.html' %}

{% block content %}

    {#    <div class="flex mt-4">#}
    {#        <div class="col-12 col-md-6 offset-md-3">#}
    <div class="card bg-base-100 mt-5">
        <div class="card-body">
            <h1 class="text-lg text-center">{{ user_obj.first_name }} {{ user_obj.last_name }}</h1>

            <hr>

            <div class="flex">
                <div class="text-right px-2">
                    <div class="font-bold">Username:</div>
                </div>
                <div class="px-2">
                    <div>{{ user_obj.username }}</div>
                </div>
            </div>

            <div class="flex my-2">
                <div class="px-2">
                    <div class="font-weight-bold">Churches:</div>
                </div>
                <div class="px-2">
                    {% for church in user_obj.churches.all %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                        {{ church }}
                    {% endfor %}
                </div>
            </div>

            <hr>

            {% if not user_obj.socialaccount_set.exists %}
                <div class="text-center">
                    <a href="{% url 'account_change_password' %}" class="btn btn-warning">Change
                        Password</a>
                </div>
            {% endif %}
        </div>
    </div>
    {#        </div>#}
    {#    </div>#}

{% endblock %}
