{% extends '_layout.html' %}

{% load static %}

{#{% load compress %}#}

{% block meta %}
    <meta name="robots" content="index, nofollow">{% endblock %}

{% block content %}

    <div class="py-5 px-3">

        <h1 class="text-2xl text-primary font-bold font-serif">Live Streams</h1>
        <hr class="mx-5">

        <div id="live-app" x-data="appLiveStreamComponent" x-init="start" x-cloak>
            <div class="flex justify-center text-white py-4">
                <span class="bg-primary pl-2 pr-5 rounded-lg">I'll look again in:</span>
                <span class="bg-success rounded-lg px-2 -ml-4" x-text="countdown"></span>
            </div>
            <template x-if="liveEvents.length === 0">
                <div class="flex flex-col items-center justify-center">
                    <div>
                        <img :src="liveNotFound[countdownQuote].icon">
                    </div>
                    <div class=" px-4" x-text="liveNotFound[countdownQuote].message"></div>
                </div>
            </template>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
                <template x-for="liveEvent in liveEvents">
                    <template x-for="stream in liveEvent.streams" :key="stream.id">
                        <template x-if="stream['live']">
                            <li class="card card-compact bg-base-100 shadow-xl pt-2">
                                <div class="card-body gap-1">
                                    <div class="pb-1">
                                        <h2 class="card-title !mb-0">
                                            <span class="truncate" x-text="stream.title"></span>
                                        </h2>
                                        <p class="badge badge-sm badge-ghost" x-text="liveEvent.church.name"></p>
                                    </div>
                                    <div class="absolute -top-2 right-3">
                                        <span class="badge badge-error">Live</span>
                                    </div>
                                    <div>
                                        <p class="text-sm" x-text="new Date(liveEvent.start).toDateString()"></p>
                                        <p class="text-sm" x-text="getLocalTime(liveEvent.start)"></p>
                                    </div>
                                    <div class="flex py-1 space-x-1">
                                        <template x-for="speaker in stream['speakers']" :key="speaker.name">
                                            <span class="badge badge-primary badge-outline mx-0">
                                                <i class="fa-solid fa-microphone mr-1"></i>
                                                <span x-text="speaker.name"></span>
                                            </span>
                                        </template>
                                    </div>

                                    <div class="card-actions pt-2 justify-between">
                                        <template x-if="stream['live_mixlr_audio']">
                                            <a :href="`/streams/live/${liveEvent.church.slug}/${stream.id}/audio/`"
                                               class="btn w-[45%] space-x-1">
                                                <i class="fa-solid fa-music"></i>Live Audio
                                            </a>
                                        </template>
                                        <a :href="`/streams/live/${liveEvent.church.slug}/${stream.id}/video/`"
                                           class="btn space-x-1"
                                           :class="{'w-full': !stream['live_mixlr_audio'], 'w-[45%]': stream['live_mixlr_audio']}">
                                            <i class="fa-solid fa-video"></i>Live Video
                                        </a>
                                    </div>
                                </div>
                            </li>

                        </template>
                    </template>
                </template>
            </ul>

            <h2 class="mt-10 text-2xl text-primary font-bold font-serif">Scheduled Live Streams</h2>
            <hr class="mb-3 mx-5">

            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
                <template x-for="schedule in scheduledEvents" :key="schedule.id">
                    <li class="bg-white rounded-lg shadow divide-y relative">
                        <div class="pt-5 pb-2 px-4">
                            <h3 class="text-lg font-semibold truncate" x-text="schedule.title"></h3>
                            <div class="absolute -top-2 right-3">
                                    <span class="flex-shrink-0 inline-block px-2 py-0.5 text-cyan-50 text-xs font-medium bg-secondary rounded-full"
                                          x-text="schedule.church.name"></span>
                            </div>
                        </div>

                        <div class="py-3 px-4">
                            <p class="text-sm" x-text="new Date(schedule.start).toDateString()"></p>
                            <p class="text-sm" x-text="getLocalTime(schedule.start)"></p>
                        </div>

                    </li>
                </template>
            </ul>

        </div>

    </div>
{% endblock %}

{% block js %}

    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('appLiveStreamComponent', () => ({
                countdown: 10,
                countdownQuote: 0,
                liveEvents: [],
                scheduledEvents: [],
                liveNotFound: [
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'I don’t see any streams live at the moment, but don’t worry I will keep looking'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'Go grab yourself a coffee it might take another minute'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'I’m not sure if I’m seeing any streams live, but I’ll keep looking'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'Trust me, you don’t want to miss this'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'Hang in there'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'The secret of patience is to drink a coffee in the meantime'
                    },
                    {
                        icon: '/static/img/human-2412988_200.png',
                        message: 'Great things take time'
                    }
                ],
                getEvents() {
                    fetch("/api/v1/streams")
                        .then(response => response.json())
                        .then(data => {
                            const tempScheduledEvents = [];
                            const tempLiveEvents = [];
                            for (const event of data) {
                                let hasLive = false;
                                for (const stream of event.streams) {
                                    if (stream['live'] === true) {
                                        hasLive = true;
                                    }
                                }
                                if (hasLive === true) {
                                    tempLiveEvents.push(event);
                                } else {
                                    tempScheduledEvents.push(event);
                                }
                            }
                            this.liveEvents = tempLiveEvents;
                            this.scheduledEvents = tempScheduledEvents;
                        });
                },
                start() {
                    this.getEvents();
                    setInterval(() => {
                        if (this.countdown === 0) {
                            this.countdown = 60;
                            this.countdownQuote = Math.floor(Math.random() * 7);
                            this.getEvents();
                        } else {
                            this.countdown -= 1;
                        }
                    }, 1000);
                },
                getLocalTime(date) {
                    const d = new Date(date).toLocaleTimeString();
                    const dAmPm = d.split(' ');
                    const [hours, minutes, seconds] = dAmPm[0].split(':')
                    return `${hours}:${minutes} ${dAmPm[1]}`
                }
            }));
        });
    </script>
{% endblock %}
