.home-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/IMG_0331.jpeg") center center no-repeat;
    color: white;
    padding: 4em 2em;
    text-align: center;
}

.home-container > h3 > span {
    font-size: 2rem;
}

.home-event-card {
    min-height: 14.5rem;
}

.home-nav-card {
    height: 17em;
}

.home-nav-card > div > .card-icon {
    font-size: 2.25rem;
    padding-bottom: 0.5rem;
}
