<div class="text-center py-3">
    {% if page_obj.paginator.num_pages > 1 %}
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-mg-outline-default">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            {% endif %}
        </span>
        {% if page_obj.paginator.num_pages > 1 %}
            <span class="px-1 align-middle">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% endif %}
        <span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-mg-outline-default">
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
            {% endif %}
        </span>
    {% endif %}
</div>