<div id="paginated-content" class="overflow-x-auto">
  <table x-data id="admin-table" class="table table-compact w-full">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Speakers</th>
      {% if user.is_superuser %}
        <th><i class="fa-solid fa-music"></i></th>
        <th><i class="fa-solid fa-video"></i></th>
      {% endif %}
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="tableBody">
    {% for stream in streams %}
      <tr>
        <td class="align-middle">{{ stream.title }}</td>
        <td class="align-middle"
            x-text="dayjs(Number({{ stream.event.start|date:'U' }}) * 1000).format('MMM D, YYYY')">
        </td>
        <td class="align-middle"
            x-text="dayjs(Number({{ stream.event.start|date:'U' }}) * 1000).format('h:mm a')">
        </td>
        <td class="align-middle">
          {% for speaker in stream.speakers.all %}
            {% if not forloop.first %}, {% endif %}{{ speaker.name }}
          {% endfor %}
        </td>
        {% if user.is_superuser %}
          <td class="align-middle">
            {% if stream.live_mixlr_audio %}
              {{ stream.audio_views }}
            {% endif %}
          </td>

          <td class="align-middle">
            {{ stream.video_views }}
          </td>
        {% endif %}
        <td class="align-middle flex flex-nowrap space-x-2">
          {% if perms.streams.change_stream %}
            <form hx-post="{% url 'streams:streams-admin-update-live' pk=stream.id %}"
                  hx-target="#paginated-content">
              {% csrf_token %}
              <input type="hidden" id="id_live" name="live" value="{% if stream.live %}False{% else %}True{% endif %}">
              <button type="submit"
                      class="btn btn-sm{% if not stream.live %} btn-outline{% endif %} btn-error flex-nowrap">
                {% if stream.live %}
                  <i class="fa-solid fa-circle mr-2"></i>Live
                {% else %}
                  Go Live
                {% endif %}
              </button>
            </form>
            <a href="{% url 'streams:streams-admin-update' pk=stream.id %}" class="btn btn-sm btn-secondary"><i
                class="fa-solid fa-edit"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% if request.htmx %}
  <div id="paginator" hx-swap-oob="innerHTML">
    {% include 'snippets/paginator_snippet.html' %}
  </div>
{% endif %}