{% extends 'layout.html' %}

{% block content %}
    {{ block.super }}

    <div class="container">
        {# filters #}
        <div class="row my-5">
            <div class="col-12 col-md">
                <label for="churchFilter">Filter Church</label>
                <select id="churchFilter" class="custom-select">
                    <option selected value="0">All Churches</option>
                </select>
            </div>
            <div class="col-12 col-md mt-3 mt-md-0">
                <label for="speakerFilter">Filter Speaker</label>
                <select id="speakerFilter" class="custom-select">
                    <option selected value="0">All Speakers</option>
                </select>
            </div>
        </div>

        {% for event in events %}
            <div class="card my-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="small">{{ event.church|upper }}</div>
                        <span class="badge badge-mg-secondary">
                            <i class="fas fa-calendar mr-1"></i>
                            {{ event.start.date }}
                        </span>
                    </div>
                    <h5 class="card-title mb-0">{{ event.title }}</h5>

                    <hr>

                    <div class="row mt-2">
                        {% for sermon in event.sermons.all %}
                            <div class="col-12 col-md text-center">
                                <div>
                                    <h6 class="mb-0">{{ sermon.title }}</h6>
                                    <small>{{ sermon.sermon_type.title }}</small>
                                    {% for speaker in sermon.speakers.all %}
                                        <div><i class="fas fa-microphone text-mg-primary mr-1"></i>{{ speaker }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="text-center mt-2">
                        <a href="{% url 'sermons:sermons-detail' pk=event.id %}" class="btn btn-mg-round btn-mg-accent"><i class="fas fa-play text-mg-primary mr-1"></i>Open</a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}