{% extends 'layout.html' %}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% load static %}
{% load compress %}

{% block content %}
    {{ block.super }}

    <div class="container pt-5">
        {# filters #}
        <div class="card bg-light shadow mb-5">
            <div class="card-body">

                <div class="row">
                    <div class="col text-center">
                        <h5>Filter Sermons</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm">
                        <label for="churchFilter">Filter Church</label>
                        <select id="churchFilter" class="form-select" onchange="onFilter()">
                            <option value="None"{% if current_church == None %} selected{% endif %}>All Churches</option>
                            {% for for_church in churches %}
                                <option value="{{ for_church.slug }}"{% if current_church == for_church.slug %}
                                        selected{% endif %}>{{ for_church.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-sm mt-3 mt-sm-0">
                        <label for="speakerFilter">Filter Speaker</label>
                        <select id="speakerFilter" class="form-select" onchange="onFilter()">
                            <option value="None"{% if current_speaker == 'None' %} selected{% endif %}>All Speakers</option>
                            {% for for_speaker in speakers %}
                                <option value="{{ for_speaker.id }}"{% if for_speaker.id == current_speaker %}
                                        selected{% endif %}>{{ for_speaker.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mt-5 text-center text-mg-dark">Sermons</h4>
    <hr>

    <div class="container-fluid pb-5">
    
        {% include "snippets/paginator_snippet.html" %}

        <div class="row mt-2">
            {% for sermon in sermons %}

                <div class="col-12 col-md-6 col-xl-4 my-3 px-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-info">{{ sermon.event.church }}</h6>
                                <h6 class="badge bg-info local-date" data-date="{{ sermon.event.start|date:'U' }}">
                                    <i class="fas fa-calendar me-1"></i>
                                </h6>
                            </div>
                            <h5 class="mb-0 text-mg-primary">{{ sermon.title|truncatechars:30 }}</h5>
                            <small>{{ sermon.sermon_type.title }}</small>
                            <br>
                            {% if sermon.audio_low %}<small><i class="fas fa-music me-1 text-warning"></i></small>{% endif %}
                            {% if sermon.video_url %}<small><i class="fas fa-video text-danger"></i></small>{% endif %}
                            <hr>
                            <div class="d-flex justify-content-around flex-wrap">
                                {% for speaker in sermon.speakers.all %}
                                    <div class="text-center"><i class="fas fa-microphone text-secondary me-1"></i>{{ speaker }}</div>
                                {% endfor %}
                            </div>

                            <div class="text-center">
                                <a href="{% url 'sermons:sermons-detail' pk=sermon.id church=sermon.event.church.slug %}" class="btn btn-round btn-primary mt-4">Open</a>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        {% include "snippets/paginator_snippet.html" %}

    </div>

{% endblock %}

{% block js %}
    {% compress js inline %}
        <script>
            function onFilter() {
                let uri = "{% url 'sermons:sermons-list' %}";
                const churchFilter = document.getElementById('churchFilter');
                const speakerFilter = document.getElementById('speakerFilter');
                if (churchFilter.value !== 'None') {
                    uri = uri + '?church=' + churchFilter.value;
                    if (speakerFilter.value !== 'None') {
                        uri = uri + '&speaker=' + speakerFilter.value;
                    }
                } else {
                    if (speakerFilter.value !== 'None') {
                        uri = uri + '?speaker=' + speakerFilter.value;
                    }
                }
                window.location.href = uri;
            }
        </script>
    {% endcompress %}
{% endblock %}