{% extends '_layout.html' %}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block content %}
    <div class="flex justify-center">
        <div class="card bg-base-100 my-5 mx-3 w-full lg:w-2/3">
            <div class="card-body">
                <h5 class="card-title justify-center">Filter Sermons</h5>
                <div class="flex pt-4 justify-center">
                    <div class="px-5">
                        <label for="churchFilter" class="label">
                            <span class="label-text">Filter Church</span>
                        </label>
                        <select id="churchFilter" name="churchFilter" onchange="onFilter()"
                                class="select select-bordered">
                            <option value=" None"{% if current_church == None %} selected{% endif %}>All Churches
                            </option>
                            {% for church in churches %}
                                <option value="{{ church.slug }}"{% if current_church == church.slug %}
                                        selected{% endif %}>{{ church.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sm:pt-0 sm:px-5">
                        <label for="speakerFilter" class="label">
                            <span class="label-text">Filter Speaker</span>
                        </label>
                        <select id="speakerFilter" name="speakerFilter" onchange="onFilter()"
                                class="select select-bordered">
                            <option value="None"{% if current_speaker == 'None' %} selected{% endif %}>All Speakers
                            </option>
                            {% for speaker in speakers %}
                                <option value="{{ speaker.id }}"{% if current_speaker == speaker.id %}
                                        selected{% endif %}>{{ speaker.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5 px-3">
        <h1 class="text-2xl text-primary font-bold font-serif">Sermons</h1>
        
        {% include "sermons/partials/sermon-list-partial.html" %}
    </div>

{% endblock %}

{% block js %}
    {#    {% compress js inline %}#}
    <script>
        function onFilter() {
            let uri = "{% url 'sermons:sermons-list' %}";
            const churchFilter = document.getElementById('churchFilter');
            const speakerFilter = document.getElementById('speakerFilter');
            if (churchFilter.value !== 'None') {
                uri = uri + '?church=' + churchFilter.value;
                if (speakerFilter.value !== 'None') {
                    uri = uri + '&speaker=' + speakerFilter.value;
                }
            } else {
                if (speakerFilter.value !== 'None') {
                    uri = uri + '?speaker=' + speakerFilter.value;
                }
            }
            window.location.href = uri;
        }
    </script>
    {#    {% endcompress %}#}
{% endblock %}