{% extends 'admin-list-layout.html' %}

{% load static %}
{% load compress %}

{% block table_head %}
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Sermon Type</th>
        <th>Title</th>
        <th>Speakers</th>
        <th>Low</th>
        <th>Med</th>
        <th>High</th>
        <th>Video</th>
        {% if user.is_superuser %}
            <th><i class="fas fa-video"></i></th>
        {% endif %}
        <th>Visible</th>
        <th></th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for sermon in sermons %}
        <tr>
            <td class="align-middle local-date" data-date="{{ sermon.event.start|date:'U' }}"></td>
            <td class="align-middle local-time" data-time="{{ sermon.event.start|date:'U' }}"></td>
            <td class="align-middle">{{ sermon.sermon_type }}</td>
            <td class="align-middle">{{ sermon.title }}</td>
            <td class="align-middle">
                {% for speaker in sermon.speakers.all %}
                    {% if not forloop.first %}, {% endif %}{{ speaker.name }}
                {% endfor %}
            </td>
            <td class="align-middle">{% if sermon.audio_low %}<i class="fas fa-check"></i>{% endif %}</td>
            <td class="align-middle">{% if sermon.audio_med %}<i class="fas fa-check"></i>{% endif %}</td>
            <td class="align-middle">{% if sermon.audio_high %}<i class="fas fa-check"></i>{% endif %}</td>
            <td class="align-middle">{% if sermon.video_url %}<i class="fas fa-check"></i>{% endif %}</td>
            {% if user.is_superuser %}<td class="align-middle">{{ sermon.views }}</td>{% endif %}
            <td class="align-middle">{% if sermon.visible %}<i class="fas fa-check"></i>{% endif %}</td>
            <td class="align-middle">
                {% if perms.sermons.change_sermon %}
                    <a href="{% url 'sermons:sermons-admin-update' pk=sermon.id %}" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block js %}
    {% compress js inline %}
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'js/timezoneService.js' %}"></script>
    {% endcompress %}
{% endblock %}