{% extends 'layout.html' %}

{% load static %}
{% load compress %}

{% block meta %}
    <meta name="referrer" content="same-origin">
{% endblock %}

{% block css %}
    {% compress css inline %}
        <link rel="stylesheet" href="{% static 'css/sermons-detail.css' %}">
    {% endcompress %}
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container py-3">
        <a href="{{ btn_back_href }}" class="btn btn-mg-default shadow-sm"><i class="fas fa-arrow-left mr-1"></i>Back</a>

        <div class="card mt-3">
            <div class="card-header">
                <div class="text-center">
                    <h3 class="card-title mb-0">{{ sermon.title }}</h3>
                    <div class="small">{{ sermon.event.church }}</div>
                    <div class="badge badge-mg-info local-date" data-date="{{ sermon.event.start|date:'U' }}"><i
                            class="fas fa-calendar-alt mr-1"></i></div>
                </div>
            </div>
            <div class="card-body">
                {% if event.description %}
                    <p class="card-text mt-3">{{ sermon.description }}</p>
                    <hr>
                {% endif %}

                <div class="text-center">
                    <div class="d-flex justify-content-around">
                        {% for speaker in sermon.speakers.all %}
                            <div><i class="fas fa-microphone text-mg-secondary mr-1"></i>{{ speaker }}</div>
                        {% endfor %}
                    </div>

                    {% if sermon.description %}
                        {{ sermon.description }}
                    {% endif %}

                    {% if sermon.video_url %}
                        <div class="embed-responsive embed-responsive-16by9 my-3">
                            <iframe class="embed-responsive-item" referrerpolicy="origin-when-cross-origin" src="{{ sermon.video_url }}"
                                    allowfullscreen></iframe>
                        </div>
                    {% endif %}

                    {% if sermon.audio_low %}
                        <audio id="player" controls preload="none" class="my-3">
                            <source src="{{ sermon.audio_low.url }}" type="audio/mpeg">
                        </audio>
                    {% endif %}
                </div>

                {% if sermon.audio_low or sermon.audio_med or sermon.audio_high %}
                    <div class="row text-center mt-3 mx-3 py-4"
                         style="border: 1px solid var(--mg-dark); border-radius: .5em">
                        {% if sermon.audio_low %}
                            <div class="col-12 col-sm">
                                <a href="{{ sermon.audio_low.url }}" class="btn btn-mg-primary"><i
                                        class="fas fa-download mr-1"></i>Low</a>
                            </div>
                        {% endif %}
                        {% if sermon.audio_med %}
                            <div class="col-12 col-sm my-2 my-sm-0">
                                <a href="{{ sermon.audio_med.url }}" class="btn btn-mg-primary shadow"><i
                                        class="fas fa-download mr-1"></i>Medium</a>
                            </div>
                        {% endif %}
                        {% if sermon.audio_high %}
                            <div class="col-12 col-sm">
                                <a href="{{ sermon.audio_high.url }}" class="btn btn-mg-primary"><i
                                        class="fas fa-download mr-1"></i>High</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <h4></h4>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {% compress js inline %}
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'js/timezoneService.js' %}"></script>
    {% endcompress %}
{% endblock %}