{% extends 'admin-form-layout.html' %}

{% load compress %}
{% load crispy_forms_tags %}

{% block form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="progress">
            <div id="progressbar" class="progress-bar bg-info" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100">0%
            </div>
        </div>

        <div class="text-center mt-3">
            <button id="btn-submit" type="submit" class="btn btn-mg-primary">Save</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    {% compress js inline %}
        <script>
            $(document).ready(function () {
                $('form').on('submit', function (event) {
                    event.preventDefault();

                    const formData = new FormData($('form')[0]);
                    $("#btn-submit").prop('disabled', true);
                    $("#btn-back").prop('disabled', true);

                    $.ajax({
                        xhr: function () {
                            let xhr = new window.XMLHttpRequest();

                            xhr.upload.addEventListener('progress', function (e) {
                                if (e.lengthComputable) {
                                    console.log('Bytes Loaded: ' + e.loaded);
                                    console.log('Total Size: ' + e.total);
                                    console.log('% Uploaded: ' + (e.loaded / e.total));

                                    let percent = Math.round((e.loaded / e.total) * 100);

                                    $('#progressbar').attr('aria-valuenow', percent).css('width', percent + '%').text(percent + '%');
                                }
                            });

                            return xhr;
                        },
                        type: 'POST',
                        url: '{% url "sermons:sermons-admin-create" %}',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function () {
                            window.location.href = "{% url 'sermons:sermons-admin-list' %}";
                        }
                    });
                });
            });
        </script>
    {% endcompress %}
{% endblock %}
