{% extends 'layout.html' %}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% load static %}
{% load compress %}

{% block content %}
    {{ block.super }}

    <div class="container pt-5">
        {# filters #}
        <div class="card shadow mb-4">
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md">
                        <label for="churchFilter">Filter Church</label>
                        <select id="churchFilter" class="custom-select" onchange="onSermonsChurchChange(this.value)">
                            <option value="None"{% if current_church == None %} selected{% endif %}>All Churches</option>
                            {% for for_church in churches %}
                                <option value="{{ for_church.slug }}"{% if current_church == for_church.slug %}
                                        selected{% endif %}>{{ for_church.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md mt-3 mt-md-0">
                        <label for="speakerFilter">Filter Speaker</label>
                        <select id="speakerFilter" class="custom-select" onchange="onSermonsSpeakerChange(this.value)">
                            <option value="None"{% if current_speaker == 'None' %} selected{% endif %}>All Speakers</option>
                            {% for for_speaker in speakers %}
                                <option value="{{ for_speaker.id }}"{% if for_speaker.id == current_speaker %}
                                        selected{% endif %}>{{ for_speaker.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5">
        <div class="text-center">
            <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-mg-outline-default">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            {% endif %}
            </span>
            {% if page_obj.paginator.num_pages > 1 %}
                <span class="px-1 align-middle">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% endif %}
            <span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-mg-outline-default">
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                {% endif %}
            </span>
        </div>

        <div class="row mt-2">
            {% for sermon in sermons %}

                <div class="col-12 col-md-6 col-xl-4 my-3 px-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-mg-info">{{ sermon.event.church }}</h6>
                                <h6 class="badge badge-info local-date" data-date="{{ sermon.event.start|date:'U' }}">
                                    <i class="fas fa-calendar mr-1"></i>
                                </h6>
                            </div>
                            <h5 class="mb-0 text-mg-primary">{{ sermon.title }}</h5>
                            <small>{{ sermon.sermon_type.title }}</small>
                            <br>
                            {% if sermon.audio_low %}<small><i class="fas fa-music mr-1"></i></small>{% endif %}
                            {% if sermon.video_url %}<small><i class="fas fa-video"></i></small>{% endif %}
                            <hr>
                            {% for speaker in sermon.speakers.all %}
                                <div class="text-center"><i class="fas fa-microphone text-mg-secondary mr-1"></i>{{ speaker }}</div>
                            {% endfor %}

                            <div class="text-center">
                                <a href="{% url 'sermons:sermons-detail' pk=sermon.id church=sermon.event.church.slug %}" class="btn btn-mg-round btn-mg-primary mt-4">Open</a>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="text-center">
            <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-mg-outline-default">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            {% endif %}
            </span>
            {% if page_obj.paginator.num_pages > 1 %}
                <span class="px-1 align-middle">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% endif %}
            <span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-mg-outline-default">
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock %}

{% block js %}
    {% compress js inline %}
        <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'js/timezoneService.js' %}"></script>
        <script>
            function onSermonsChurchChange(church) {
                window.location.href = uriConstructor(church, "{{ current_speaker }}");
            }

            function onSermonsSpeakerChange(speaker) {
                window.location.href = uriConstructor("{{ current_church }}", speaker);
            }

            function uriConstructor(church, speaker) {
                if (church === 'None') {
                    if (speaker === 'None') {
                        return "{% url 'sermons:sermons-list' %}";
                    } else {
                        return "{% url 'sermons:sermons-list' %}?speaker=" + speaker;
                    }
                } else {
                    if (speaker === 'None') {
                        return "{% url 'sermons:sermons-list' %}" + church + "/";
                    } else {
                        return "{% url 'sermons:sermons-list' %}" + church + "/?speaker=" + speaker;
                    }
                }
            }
        </script>
    {% endcompress %}
{% endblock %}