{% extends 'admin-list-layout.html' %}

{% block add_btn %}

    {% if perms.churches.add_church %}
        {{ block.super }}
    {% endif %}

{% endblock %}

{% block table_head %}
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for church in churches %}
        <tr>
            <td class="align-middle">{{ church.name }}</td>
            <td class="align-middle">{{ church.street }}, {{ church.city }}, {{ church.province_state }}, {{ church.country }}</td>
            <td>
                {% if perms.churches.change_church and church in user.churches.all %}
                    <a href="{% url 'churches:churches-admin-update' pk=church.id %}" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}