{% block sermon_list %}
    <div id="paginated-content">
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
            {% for sermon in sermons %}
                <li class="card card-compact bg-base-100 relative">
                    <div class="card-body overflow-hidden">
                        <h2 class="card-title">
                            <span class="truncate">{{ sermon.title }}</span>
                        </h2>
                        <p class="badge badge-ghost">{{ sermon.sermon_type.title }}</p>
                    </div>

                    <div class="text-sm text-base-content">
                        <span class="text-sm local-date"
                              data-date="{{ sermon.event.start|date:'U' }}">
                            {{ sermon.event.start|date:'M j, Y' }}
                        </span>

                        <div class="absolute -top-2 right-3">
                            <span class="badge badge-accent">{{ sermon.event.church }}</span>
                        </div>

                        <div class="pb-3">
                            {% for speaker in sermon.speakers.all %}<span class="badge badge-primary">{{ speaker }}</span>{% endfor %}
                        </div>
                    </div>
                    <div>
                        <div class="flex">
                            <a class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-primary font-medium border border-transparent rounded-bl-lg hover:text-primary-focus">
                                Open
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% include "snippets/paginator_snippet.html" %}

    </div>
{% endblock %}
