{% extends '_layout.html' %}

{% block content %}

  <div class="flex flex-col px-3 md:px-0 py-4 items-center">
    {% if btn_back_href %}
      <div class="flex w-full justify-start mb-3">
        <button id="btn-back" onclick="window.history.back()" class="btn btn-outline"><i
            class="fa-solid fa-arrow-left mr-2"></i>Back
        </button>
      </div>
    {% endif %}

    <div class="card bg-base-100 w-full max-w-md">
      <div class="card-body">
        {% block form_header %}{% endblock %}
        {% block form %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
