<!DOCTYPE html>

{% load static %}
{% load compress %}
{% load pwa %}

<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
        <meta name="robots" content="noindex, nofollow">
    {% endblock %}

    {% progressive_web_app_meta %}

    {% compress css %}
        <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/shared/variables.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/site.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/buttons.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/text.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/backgrounds.css' %}">
    {% endcompress %}

    {% block css %}{% endblock %}

    <title>{% block head_title %}{{ page_title }}{% endblock %}</title>

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mennonitengemeinde.org{{ request.get_full_path }}" />
    <meta property="og:image" content="https://mennonitengemeinde.org{% static 'img/mennonitengemeinde-text-round-logo-25%.png' %}" />
</head>
<body>

{% block body %}{% endblock %}

{% block content %}{% endblock %}

{% compress js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(".alert-auto-dismiss").fadeTo(15000, 500).slideUp(500, function () {
                $(".alert-auto-dismiss").slideUp(500);
            });
        });
    </script>
{% endcompress %}

{% block js %}{% endblock %}

</body>
</html>