{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load notification_tags %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-auto-dismiss {{ message.level|notify }} fade show m-0" role="alert" data-bs-dismiss="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="nav-container">
        <div class="text-center pt-1">
            <img class="img-fluid nav-logo" src="{% static 'img/mennonitengemeinde-text-round-logo-25.png' %}"
                 alt="Logo">
        </div>

        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-end px-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item {% if current_page == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li class="nav-item {% if current_page == 'events' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'schedules:events-list' %}">Events</a>
                    </li>
                    <li class="nav-item {% if current_page == 'sermons' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'sermons:sermons-list' %}">Sermons</a>
                    </li>
                    <li class="nav-item {% if current_page == 'live' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'streams:streams-list' %}">Live</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if perms.churches.view_church or perms.speakers.view_speaker or perms.schedules.view_event or perms.streams.view_stream or perms.sermons.view_sermon or perms.accounts.view_user %}
                        <li class="nav-item dropdown {% if current_page == 'manage' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="manageDropdown">
                                {% if perms.churches.view_church %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'churches:churches-admin-list' %}">Churches</a>
                                    </li>
                                {% endif %}
                                {% if perms.speakers.view_speaker %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'speakers:speakers-admin-list' %}">Speakers</a>
                                    </li>
                                {% endif %}
                                {% if perms.schedules.view_event %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'schedules:events-admin-list' %}">Events</a>
                                    </li>
                                {% endif %}
                                {% if perms.streams.view_stream %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'streams:streams-admin-list' %}">Streams</a>
                                    </li>
                                {% endif %}
                                {% if perms.sermons.view_sermon %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'sermons:sermons-admin-list' %}">Sermons</a>
                                    </li>
                                {% endif %}
                                {% if perms.contactus.view_contact_message %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'contactus:admin-messages' %}">Messages</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_user %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:users-admin-list' %}">Users</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    {% user_display user %}
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="{% url 'accounts:user-profile' %}">Profile</a></li>
                                <li><form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <button type="submit" class="dropdown-item">Sign out</button>
                                </form></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        {#        <hr class="mb-0">#}
    </div>

{% endblock %}
