{% extends 'layout.html' %}

{% block content %}

    {{ block.super }}

    <div class="container">
        <a href="{% url 'streams:streams-list' %}" class="btn btn-mg-outline-default mt-3"><i class="fas fa-arrow-left mr-2"></i>Back</a>

        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title mb-0">{{ stream.title }}</h4>
                <small>{{ stream.event.church }}</small>

                <div class="row my-3">
                    {% for speaker in stream.speakers.all %}
                        <div class="col text-center">
                            <div><i class="fas fa-microphone mr-1 text-mg-secondary"></i> {{ speaker }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="embed-responsive embed-responsive-16by9 mt-3">
                    <iframe class="embed-responsive-item" src="{{ stream.live_url }}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}