{% extends '_layout.html' %}

{% load static %}
{#{% load compress %}#}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="py-5 px-3">

        <h2 class="text-2xl text-primary-default font-bold font-serif">Live Streams</h2>
        <hr class="mx-5">

        <div id="live-app"
             v-cloak
             @vue:mounted="init()"
             @vue:unmounted="exit()">
            <div class="flex justify-center text-white py-4">
                <div class="bg-primary-default pl-2 pr-5 rounded-lg">I'll look again in:</div>
                <span class="bg-secondary-tint rounded-lg px-2 -ml-4">[[ countdown ]]</span>
            </div>
            <div class="flex flex-col items-center justify-center"
                 v-if="liveEvents.length === 0">
                <div>
                    <img class="img-responsive" :src="liveNotFound[countdownQuote].icon">
                </div>
                <div class="px-4">[[ liveNotFound[countdownQuote].message ]]</div>
            </div>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
                <li v-for="liveEvent in liveEvents" :key="liveEvent.id">
                    <div v-for="stream in liveEvent.streams" :key="stream.id">
                        <div v-if="stream['live']"
                             class="bg-white rounded-lg shadow divide-y relative">
                            <div class="pt-5 pb-2 px-4">
                                <h2 class="text-lg font-semibold truncate">
                                    <i class="fas fa-circle text-red-600 mr-2"></i>
                                    [[stream.title]]</h2>
                                <div class="absolute -top-2 right-3">
                                <span class="flex-shrink-0 inline-block px-2 py-0.5 text-cyan-50 text-xs font-medium bg-secondary-tint rounded-full">
                                    [[liveEvent.church.name]]
                                </span>
                                </div>
                            </div>

                            <div class="py-3 px-4">
                                <p class="text-sm">
                                    [[new Date(liveEvent.start).toDateString()]]
                                </p>
                                <p class="text-sm">
                                    [[getLocalTime(liveEvent.start)]]
                                </p>
                                <div class="flex py-1">
                                    <span v-for="speaker in stream['speakers']"
                                          :key="speaker.name"
                                          class="flex-shrink-0 inline-block px-2 py-0.5 mr-1 text-red-50 text-xs font-medium bg-primary-tint rounded-full">
                                        <i class="fas fa-microphone mr-1"></i>
                                        [[speaker.name]]
                                    </span>
                                </div>
                            </div>

                            <div class="-mt-px flex divide-x divide-gray-200">
                                <div v-if="stream['live_mixlr_audio']"
                                     class="w-0 flex-1 flex">
                                    <a :href="`/streams/live/${liveEvent.church.slug}/${stream.id}/audio/`"
                                       class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <i class="fas fa-music mr-2"></i>Live Audio
                                    </a>
                                </div>
                                <div class="w-0 flex-1 flex">
                                    <a :href="`/streams/live/${liveEvent.church.slug}/${stream.id}/video/`"
                                       class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                                        <i class="fas fa-video mr-2"></i>Live Video
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

            <h2 class="mt-10 text-2xl text-primary-default font-bold font-serif">
                Scheduled Live Streams
            </h2>
            <hr class="mb-3 mx-5">

            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">
                <li v-for="schedule in scheduledEvents"
                    :key="schedule.id"
                    class="bg-white rounded-lg shadow divide-y relative">
                    <h3 class="text-lg font-semibold truncate">[[schedule.title]]</h3>
                    <div class="absolute -top-2 right-3">
                        <span class="flex-shrink-0 inline-block px-2 py-0.5 text-cyan-50 text-xs font-medium bg-secondary-tint rounded-full">
                            [[ schedule.church.name ]]
                        </span>
                    </div>

                    <div class="py-3 px-4">
                        <p class="text-sm">
                            [[new Date(schedule.start).toDateString()]]
                        </p>
                        <p class="text-sm">
                            [[getLocalTime(schedule.start)]]
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block js %}

    <script src="https://unpkg.com/petite-vue"></script>

    {#    {% compress js inline %}#}
    <script>
        const {createApp} = PetiteVue;
        const app = createApp({
            $delimiters: ['[[', ']]'],
            countdown: 60,
            countdownQuote: 0,
            scheduledEvents: [],
            liveEvents: [],
            liveNotFound: [
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'I don’t see any streams live at the moment, but don’t worry I will keep looking'
                },
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'Go grab yourself a coffee it might take another minute'
                },
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'Trust me, you don’t want to miss this'
                },
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'Hang in there'
                },
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'The secret of patience is to drink a coffee in the meantime'
                },
                {
                    icon: '/static/img/human-2412988_200.png',
                    message: 'Great things take time'
                }
            ],
            timer: null,

            async init() {
                await this.getEvents();
                this.timer = setInterval(() => {
                    if (this.countdown === 0) {
                        this.countdown = 60;
                        this.countdownQuote = Math.floor(Math.random() * 6);
                        this.getEvents();
                    } else {
                        this.countdown -= 1;
                    }
                }, 1000);
            },

            exit() {
                clearInterval(this.timer);
            },
            
            async getEvents() {
                try {
                    const response = await fetch("/api/v1/streams/");
                    if (response.ok) {
                        const data = await response.json();
                        const tempScheduledEvents = [];
                        const tempLiveEvents = [];
                        for (const event of data) {
                            let hasLive = false;
                            for (const stream of event.streams) {
                                if (stream['live'] === true) {
                                    hasLive = true;
                                }
                            }
                            if (hasLive === true) {
                                tempLiveEvents.push(event);
                            } else {
                                tempScheduledEvents.push(event);
                            }
                        }
                        this.liveEvents = tempLiveEvents;
                        this.scheduledEvents = tempScheduledEvents;
                    }
                } catch (e) {
                    console.log(e);
                }

            },
            getLocalTime(date) {
                const d = new Date(date).toLocaleTimeString();
                const dAmPm = d.split(' ');
                const [hours, minutes, seconds] = dAmPm[0].split(':')
                return `${hours}:${minutes} ${dAmPm[1]}`
            }
        });
        app.mount('#live-app');
    </script>
    {#    {% endcompress %}#}
{% endblock %}