{% extends 'layout.html' %}

{% load static %}
{% load compress %}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container py-3">

        <h2 class="text-center mt-3 text-mg-dark">Live Streams</h2>
        <hr class="mx-5">

        <div id="live-app" v-cloak>
            <div class="text-center">
                <div class="badge bg-primary pe-3">I'll look again in:</div><span class="badge bg-secondary ms-n2">[[ countdown ]]</span>
            </div>
            <div class="text-center" v-if="liveEvents.length === 0">
                <div><img class="img-responsive" :src="liveNotFound[countdownQuote].icon"></div>
                <div class="card-text px-4">[[ liveNotFound[countdownQuote].message ]]</div>
            </div>
            <div class="py-4" v-for="event in liveEvents" :key="event.id">
                <div v-for="stream in event.streams" :key="stream.id" v-if="stream['live']"
                     class="card shadow bg-light">
                    <div class="card-body">
                        <h5 class="card-title mb-0"><i class="fas fa-circle text-danger me-2"></i>[[stream.title]]</h5>
                        <div class="small">[[event.church.name]]</div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div class="badge bg-info">
                                <i class="fas fa-calendar-alt me-1"></i>[[new Date(event.start).toDateString()]]
                            </div>
                            <div class="badge bg-info">
                                <i class="fas fa-clock me-1"></i>[[getLocalTime(event.start)]]
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div v-for="speaker in stream['speakers']" :key="speaker.name"
                                 class="col-12 col-md text-center my-2">
                                <div><i class="fas fa-microphone text-secondary me-1"></i>[[ speaker.name ]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-primary">
                        <div class="row">
                            <div v-if="stream['live_mixlr_audio']" class="col text-center">
                                <a :href="`/streams/live/${event.church.slug}/${stream.id}/audio/`"
                                   class="btn btn-warning">
                                    <i class="fas fa-music me-2"></i>Live Audio
                                </a>
                            </div>
                            <div class="col text-center">
                                <a :href="`/streams/live/${event.church.slug}/${stream.id}/video/`"
                                   class="btn btn-info"><i class="fas fa-video me-2"></i>Live Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="text-center mt-5 text-mg-dark">Scheduled Live Streams</h2>
            <hr class="mb-3 mx-5">

            <div v-for="schedule in scheduledEvents" :key="schedule.id" class="card my-4">
                <div class="card-body">
                    <h5 class="card-title mb-0">[[schedule.title]]</h5>
                    <div class="small">[[ schedule.church.name ]]</div>

                    <hr>

                    <div class="d-flex justify-content-between">
                        <div class="badge bg-info">
                            <i class="fas fa-calendar-alt me-1"></i>[[new Date(schedule.start).toDateString()]]
                        </div>
                        <div class="badge bg-info">
                            <i class="fas fa-clock me-1"></i>[[getLocalTime(schedule.start)]]
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    {% compress js inline %}
        <script>
            const app = new Vue({
                delimiters: ['[[', ']]'],
                el: '#live-app',
                data: {
                    countdown: 60,
                    countdownQuote: 0,
                    scheduledEvents: [],
                    liveEvents: [],
                    liveNotFound: [
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'I don’t see any streams live at the moment, but don’t worry I will keep looking'
                        },
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'Go grab yourself a coffee it might take another minute'
                        },
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'Trust me, you don’t want to miss this'
                        },
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'Hang in there'
                        },
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'The secret of patience is to drink a coffee in the meantime'
                        },
                        {
                            icon: '/static/img/human-2412988_200.png',
                            message: 'Great things take time'
                        }
                    ]
                },
                mounted: function () {
                    this.getEvents();
                    setInterval(() => {
                        if (this.countdown === 0) {
                            this.countdown = 60;
                            this.countdownQuote = Math.floor(Math.random() * 6);
                            this.getEvents();
                        } else {
                            this.countdown -= 1;
                        }
                    }, 1000);
                },
                methods: {
                    getEvents: async function () {
                        const response = await fetch("/api/v1/streams");
                        if (response.ok) {
                            const data = await response.json();
                            const tempScheduledEvents = [];
                            const tempLiveEvents = [];
                            for (const event of data) {
                                let hasLive = false;
                                for (const stream of event.streams) {
                                    if (stream['live'] === true) {
                                        hasLive = true;
                                    }
                                }
                                if (hasLive === true) {
                                    tempLiveEvents.push(event);
                                } else {
                                    tempScheduledEvents.push(event);
                                }
                            }
                            this.liveEvents = tempLiveEvents;
                            this.scheduledEvents = tempScheduledEvents;
                        }
                    },
                    getLocalTime: function (date) {
                        const d = new Date(date).toLocaleTimeString();
                        const dAmPm = d.split(' ');
                        const [hours, minutes, seconds] = dAmPm[0].split(':')
                        return `${hours}:${minutes} ${dAmPm[1]}`
                    }
                }
            });
        </script>
    {% endcompress %}
{% endblock %}