{% extends 'admin-list-layout.html' %}

{% load static %}
{% load compress %}

{% block table_head %}
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Title</th>
        <th>Speakers</th>
        {% if user.is_superuser %}
            <th><i class="fas fa-music"></i></th>
            <th><i class="fas fa-video"></i></th>
        {% endif %}
        <th>Actions</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for stream in streams %}
        <tr>
            <td class="align-middle local-date" data-date="{{ stream.event.start|date:'U' }}"></td>
            <td class="align-middle local-time" data-time="{{ stream.event.start|date:'U' }}"></td>
            <td class="align-middle">{{ stream.title }}</td>
            <td class="align-middle">
                {% for speaker in stream.speakers.all %}
                    {% if not forloop.first %}, {% endif %}{{ speaker.name }}
                {% endfor %}
            </td>
            {% if user.is_superuser %}
                <td class="align-middle">
                    {% if stream.live_mixlr_audio %}
                        {{ stream.audio_views }}
                    {% endif %}
                </td>

                <td class="align-middle">
                    {{ stream.video_views }}
                </td>
            {% endif %}
            <td class="align-middle">
                {% if perms.streams.change_stream %}
                    <a href="{% url 'streams:streams-admin-update-live' pk=stream.id %}" class="btn btn-sm btn-mg-outline-primary">
                        {% if stream.live %}
                            <i class="fas fa-circle text-danger"></i> Live
                        {% else %}
                            Go Live
                        {% endif %}
                    </a>
                    <a href="{% url 'streams:streams-admin-update' pk=stream.id %}" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block js %}
    {% compress js inline %}
        <script src="{% static 'moment/min/moment.min.js' %}"></script>
        <script src="{% static 'js/timezoneService.js' %}"></script>
    {% endcompress %}
{% endblock %}