{% extends 'layout.html' %}

{% load static %}
{#{% load compress %}#}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container py-3">

        <h2 class="text-center mt-3 text-mg-dark">Live Streams</h2>
        <hr class="mx-5">

        {# filters #}
        <div class="row mt-3 mb-5">
            <div class="col-12 col-md-6 offset-md-3">
                <label for="churchFilter">Filter Church</label>
                <select id="churchFilter" class="custom-select" onchange="onStreamsChurchChange(this.value)">
                    <option value="None"{% if current_church == 'None' %} selected{% endif %}>All Churches</option>
                    {% for church in churches %}
                        <option value="{{ church.slug }}"{% if current_church == church.slug %} selected{% endif %}>{{ church.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% for live_stream in streams %}
            {% if live_stream.live %}
                <div class="shadow bg-light my-5">
                    <div class="card-body">
                        <h5 class="card-title mb-0"><i class="fas fa-circle text-danger me-2"></i>{{ live_stream.title }}</h5>
                        <div class="small">{{ live_stream.event.church|upper }}</div>

                        <hr>

                        <div class="d-flex justify-content-between">
                            <div class="badge badge-info local-date" data-date="{{ live_stream.event.start|date:'U' }}">
                                <i class="fas fa-calendar-alt me-1"></i>
                            </div>
                            <div class="badge badge-info local-time" data-time="{{ live_stream.event.start|date:"U" }}">
                                <i class="fas fa-clock me-1"></i>
                            </div>
                        </div>

                        <div class="row mt-2">
                            {% for speaker in live_stream.speakers.all %}
                                <div class="col-12 col-md text-center my-2">
                                    <div><i class="fas fa-microphone text-secondary me-1"></i>{{ speaker }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card-footer bg-primary">
                        <div class="row">
                            {% if live_stream.live_mixlr_audio %}
                                <div class="col text-center">
                                    <a href="{% url 'streams:live-audio' church=live_stream.event.church pk=live_stream.id %}" class="btn btn-warning"><i class="fas fa-music me-2"></i>Live Audio</a>
                                </div>
                            {% endif %}
                            {% if live_stream.live_url %}
                                <div class="col text-center">
                                    <a href="{% url 'streams:live-video' church=live_stream.event.church pk=live_stream.id %}" class="btn btn-info"><i class="fas fa-video me-2"></i>Live Video</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <h2 class="text-center mt-5 text-mg-dark">Scheduled Live Streams</h2>
        <hr class="mb-3 mx-5">


        {% for s_stream in schedule %}
            {% if not scheduled_stream.live %}
                <div class="card my-4">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ s_stream.title }}</h5>
                        <div class="small">{{ s_stream.church|upper }}</div>

                        <hr>

                        <div class="d-flex justify-content-between">
                            <div class="badge badge-info local-date" data-date="{{ s_stream.start|date:'U' }}">
                                <i class="fas fa-calendar-alt me-1"></i>
                            </div>
                            <div class="badge badge-info local-time" data-time="{{ s_stream.start|date:'U' }}">
                                <i class="fas fa-clock me-1"></i>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
{#    {% compress js inline %}#}
        <script>
            function onStreamsChurchChange(church) {
                if (church !== 'None') {
                    window.location.href = "{% url 'streams:streams-list' %}" + church + "/";
                } else {
                    window.location.href = "{% url 'streams:streams-list' %}";
                }
            }
        </script>
{#    {% endcompress %}#}
{% endblock %}