.btn {
    border-radius: 0;
}

.btn-mg-round {
    border-radius: 1.7em;
    padding: .5em .9em;
}


.btn-mg-default {
    background-color: whitesmoke;
    border-color: #d0d0d0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-mg-default:hover {
    background-color: transparent;
}


.btn-mg-info {
    background-color: var(--mg-info);
    color: white;
}
.btn-mg-info:hover {
    opacity: .8;
}


.btn-mg-inverted {
    background-color: var(--mg-background);
}


.btn-mg-primary {
    background-color: var(--mg-primary);
    border: .1rem #512021 outset;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-mg-primary:hover {
    opacity: .8;
    color: white;
}


.btn-mg-secondary {
    background-color: var(--mg-secondary);
}
.btn-mg-secondary:hover {
    opacity: .8;
}


.btn-mg-outline-default {
    border-color: var(--mg-default);
}
.btn-mg-outline-default:hover {
    background-color: var(--mg-default);
}


.btn-mg-outline-primary {
    color: var(--mg-primary);
    border-color: var(--mg-primary);
}
.btn-mg-outline-primary:hover {
    background-color: var(--mg-primary);
    color: white;
}
.btn-mg-outline-primary:hover i {
    color: white;
}


.btn-mg-outline-primary i {
    color: var(--mg-primary);
}


.btn-mg-outline-secondary {
    border-color: var(--mg-secondary);
}


.btn-mg-outline-secondary:hover {
    background-color: var(--mg-secondary);
}


.dropdown-item.active, .dropdown-item:active {
    background-color: var(--mg-primary);
}