body {
    background-color: var(--mg-background);
}

.table > tbody > tr > td {
    vertical-align: center;
}

.badge-mg-secondary {
    background-color: var(--mg-secondary);

}

[v-cloak] {
  display: none;
}
