.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-info {
  color: var(--info) !important;
}

.text-success {
  color: var(--success) !important;
}

.text-warning {
  color: var(--warning) !important;
}

.text-danger {
  color: var(--danger) !important;
}

/*.fas.text-primary:hover {*/
/*    color: var(--white);*/
/*}*/

/*.fa-microphone {*/
/*    color: var(--mg-primary);*/
/*}*/

.text-mg-dark {
    color: var(--mg-dark);
}

.text-mg-primary {
    color: var(--mg-primary);
}

.text-mg-secondary {
    color: var(--mg-secondary);
}

.text-mg-info {
    color: var(--mg-info);
}

.badge-info {
    background-color: var(--mg-info);
    color: white;
}
