<div class="flow-root max-w-md">
    <ul role="list" class="-mb-8">
        {% for scheduleEvent in events %}
            {% ifchanged scheduleEvent.start.date %}
                <li>
                <div class="relative pb-8">
                {% if not forloop.last %}
                    <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                {% endif %}
                <div class="relative flex items-start space-x-3">
                <div class="relative">
                        <span class="h-10 w-10 rounded-full bg-primary-default flex flex-col items-center justify-center font-bold text-white ring-8 ring-white">
                            <span class="-mb-0.5">{{ scheduleEvent.start|date:"j" }}</span>
                            <span class="-mt-0.5 text-[0.6rem]">{{ scheduleEvent.start|date:"M" }}</span>
                        </span>

                    <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px"></span>
                </div>
                <div class="min-w-0 flex-1">
                <div class="font-medium text-gray-900">
                    {{ scheduleEvent.start|date:"l" }}
                </div>
                <ul class="divide-y divide-gray-200">
            {% endifchanged %}
        <li class="mt-2 text-sm text-gray-700">
            <p class="mt-0.5 text-sm font-semibold">{{ scheduleEvent.title }}</p>
            <p class="text-sm text-gray-500">{{ scheduleEvent.start|date:"f a" }}
                - {{ scheduleEvent.end|date:"f a" }}</p>
            <p>{{ scheduleEvent.description }}</p>
            <p class="mt-0.5 flex-shrink-0 inline-block px-2 py-0.5 text-cyan-50 text-xs font-medium bg-secondary-tint rounded-full">{{ scheduleEvent.church }}</p>
        </li>
        {% ifchanged scheduleEvent.start.date %}
            </ul>
            </div>
            </div>
            </div>
            </li>
        {% endifchanged %}
        {% endfor %}
    </ul>
</div>