<div class="flow-root max-w-md">
  <ul role="list" class="-mb-8">
    {% for scheduleEvent in events %}
      <li>
        <div class="relative pb-8">
          {% if not forloop.last %}
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          {% endif %}
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <span
                  class="h-10 w-10 rounded-full bg-primary flex flex-col items-center justify-center font-bold text-base-100 ring-8 ring-base-100">
                  <span class="-mb-0.5">{{ scheduleEvent.date|date:"j" }}</span>
                  <span class="-mt-0.5 text-[0.6rem]">{{ scheduleEvent.date|date:"M" }}</span>
              </span>

              <span class="absolute -bottom-0.5 -right-1 bg-base-100 rounded-tl px-0.5 py-px"></span>
            </div>
            <div class="min-w-0 flex-1">
              <div class="font-medium text-gray-900">
                {{ scheduleEvent.date|date:"l" }}
              </div>
              <ul class="divide-y divide-gray-200">
                {% for eventDetail in scheduleEvent.events %}
                  <li class="card bg-base-100 mt-2 text-sm text-gray-700">
                    <div class="card-body">
                      <p class="mt-0.5 text-sm font-semibold">{{ eventDetail.title }}</p>
                      <p class="text-sm text-gray-500">{{ eventDetail.start|date:"f a" }}
                        - {{ eventDetail.end|date:"f a" }}</p>
                      <p>{{ eventDetail.description }}</p>
                      <p class="badge badge-secondary">{{ eventDetail.church }}</p>
                      {% if eventDetail.live_stream %}
                        <div class="pt-1">
                          <a href="{% url 'streams:streams-list' %}"
                             class="btn btn-sm btn-outline btn-primary">
                            <i class="fa-solid fa-circle mr-1"></i>Live
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>