{% extends '_layout.html' %}

{% block content %}
    {{ block.super }}

    <div class="px-3 py-4">

        <button class="btn btn-outline my-4" onclick="window.history.back()">
            <i class="fas fa-arrow-left mr-2"></i> Back
        </button>

        <div class="card bg-base-100">
            <div class="card-body">
                <h1 class="card-title text-2xl">Message</h1>
                <hr>
                <h5 class="font-semibold">Date & Time</h5>
                <p>{{ contact_msg.message_date }}</p>

                <h5 class="pt-3 font-semibold">Sent from page</h5>
                <p>{{ contact_msg.page_title }}</p>

                {#                {% if contact_msg.name %}#}
                <h5 class="pt-3 font-semibold">Name</h5>
                <p>{{ contact_msg.name }}</p>
                {#                {% endif %}#}

                {% if contact_msg.email %}
                    <h5 class="pt-3 font-semibold">Email</h5>
                    <p>{{ contact_msg.email }}</p>
                {% endif %}

                {% if contact_msg.phone_number %}
                    <h5 class="pt-3 font-semibold">Phone Number</h5>
                    <p>{{ contact_msg.phone_number }}</p>
                {% endif %}

                <h5 class="pt-3 font-semibold">Message</h5>
                <p>{{ contact_msg.message|linebreaksbr }}</p>

                <div class="text-center pt-3">
                    <a class="btn btn-primary mr-2"
                       href="{% url 'contactus:admin-read-message' pk=contact_msg.id %}">
                        {% if contact_msg.read %}
                            Mark Unread
                        {% else %}
                            Mark Read
                        {% endif %}
                    </a>
                    <button class="btn btn-error" data-bs-toggle="modal" data-bs-target="#delete-modal">
                        <i class="fas fa-trash mr-2"></i>Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete {{ contact_msg.message_date }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ contact_msg.message_date }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                    <form method="post" action="{% url 'contactus:admin-delete-message' pk=contact_msg.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}