<div class="card bg-base-100">
  <div class="card-body">
    <h2 class="text-2xl text-center text-primary pb-4"><i class="fa-solid fa-envelope"></i> Contact Us</h2>
    <form method="post">
      {% csrf_token %}

      {{ form.page_title }}
      {{ form.form_no }}

      <label for="id_name" class="label">
        <span class="label-text">{{ form.name.label }}</span>
      </label>
      {{ form.name }}

      <label for="id_email" class="label">
        <span class="label-text">{{ form.email.label }}</span>
      </label>
      {{ form.email }}

      <label for="id_phone_number" class="label">
        <span class="label-text">{{ form.phone_number.label }}</span>
      </label>
      {{ form.phone_number }}

      <label for="id_message" class="label">
        <span class="label-text">{{ form.message.label }}</span>
      </label>
      {{ form.message }}

      <div class="flex justify-center pt-2">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-paper-plane mr-2"></i> Send</button>
      </div>
    </form>
  </div>
</div>