{% extends '_layout.html' %}

{% block content %}

  <div class="px-3 md:px-0 py-5">

    <div class="pb-3">
      <a href="{% url 'schedules:events-admin-list' %}" class="btn btn-outline"><i
          class="fa-solid fa-arrow-left mr-1"></i>Back</a>
    </div>

    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title text-2xl">{{ attendant.full_name }}</h2>

        <div class="divider my-1"></div>

        <div><span class="font-bold">Church: </span>{{ attendant.event.church }}</div>
        <div><span class="font-bold">Date: </span>{{ attendant.event.start.date }}</div>
        <div><span class="font-bold">Time: </span>{{ attendant.event.start.time }}</div>
        <br>
        <div><span class="font-bold">Amount: </span>{{ attendant.amount }}</div>
      </div>

      <div class="text-center pb-3">
        {% if perms.schedules.change_attendant %}
          <a href="{% url 'schedules:attendants-admin-update' event=attendant.event.pk pk=attendant.pk %}"
             class="btn btn-warning">
            <i class="fa-solid fa-edit mr-1"></i>Edit
          </a>
        {% endif %}
        {% if perms.schedules.delete_attendant %}
          <label for="delete-modal" class="btn btn-error"><i class="fa-solid fa-trash mr-1"></i>Delete</label>
        {% endif %}
      </div>
    </div>

  </div>

  <input type="checkbox" id="delete-modal" class="modal-toggle" />
  <div class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-base-100">
      <h3 class="font-bold text-lg">Delete {{ attendant.full_name }}</h3>
      <p class="py-4">Are you sure you want to delete {{ attendant.full_name }}?</p>
      <div class="modal-action">
        <label for="delete-modal" class="btn">Cancel</label>
        <form method="post"
              action="{% url 'schedules:attendants-admin-delete' event=attendant.event.pk pk=attendant.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-error">Delete</button>
        </form>
      </div>
    </div>
  </div>

  {#    <div id="delete-modal" class="modal" tabindex="-1" role="dialog">#}
  {#        <div class="modal-dialog" role="document">#}
  {#            <div class="modal-content">#}
  {#                <div class="modal-header">#}
  {#                    <h5 class="modal-title">Delete {{ attendant.full_name }}</h5>#}
  {#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
  {#                </div>#}
  {#                <div class="modal-body">#}
  {#                    <p>Are you sure you want to delete {{ attendant.full_name }}?</p>#}
  {#                </div>#}
  {#                <div class="modal-footer">#}
  {#                    <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal" aria-label="Close">#}
  {#                        Close#}
  {#                    </button>#}
  {#                    <form method="post"#}
  {#                          action="{% url 'schedules:attendants-admin-delete' event=attendant.event.pk pk=attendant.pk %}">#}
  {#                        {% csrf_token %}#}
  {#                        <button type="submit" class="btn btn-danger">Delete</button>#}
  {#                    </form>#}
  {#                </div>#}
  {#            </div>#}
  {#        </div>#}
  {#    </div>#}
{% endblock %}
