{% extends 'admin-form-layout.html' %}

{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block css %}
    {% compress css inline %}
        <link rel="stylesheet" href="{% static 'daterangepicker/daterangepicker.css' %}">
    {% endcompress %}
{% endblock %}

{% block form %}
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    {% compress js inline %}
        <script src="{% static 'daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'daterangepicker/daterangepicker.js' %}"></script>

        <script>
            $(function() {
                $('#id_start').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    timePicker: true,
                    timePicker24Hour: true,
                    minYear: 2000,
                    locale: {
                        format: "Y-MM-DD HH:mm"
                    }
                });
            });
            $(function() {
                $('#id_end').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    timePicker: true,
                    timePicker24Hour: true,
                    minYear: 2000,
                    locale: {
                        format: "Y-MM-DD HH:mm"
                    }
                });
            });
        </script>
    {% endcompress %}
{% endblock %}