{% extends 'layout.html' %}

{% block content %}

    {{ block.super }}

    <div class="container">
        <div class="row">

            {% for event in events %}
                {% ifchanged event.start.date %}
                    <div class="col-12 mt-5">
                        <h4>{{ event.start.date }}</h4>
                    </div>
                {% endifchanged %}

                <div class="col-12 col-md-6 col-lg-4 my-3">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ event.title }}</h5>
                            <div class="small">{{ event.church|upper }}</div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6>Start Time:</h6>
                                    {{ event.start.time }}
                                </div>
                                <div>
                                    <h6>Speakers:</h6>
                                    {% for speaker in event.speakers.all %}
                                        <div>{{ speaker }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="d-flex justify-content-around mt-2">
                                {% if event.in_person %}
                                    <a href="" class="btn btn-sm btn-outline-primary">Directions</a>
                                {% endif %}
                                {% if event.live_stream %}
                                    <a href="" class="btn btn-sm btn-outline-danger"><i class="fas fa-circle mr-1"></i>Live</a>
                                {% endif %}
                            </div>

                            {% if event.description or event.address or event.map_search_query %}
                                <hr>
                            {% endif %}

                            {% if event.description %}
                                <h6>Description:</h6>
                                <p>{{ event.description }}</p>
                            {% endif %}

                            {% if event.address %}
                                <h6>Address:</h6>
                                <p>{{ event.address }}</p>
                            {% endif %}

                            {# TODO: Map intagration #}
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}