{% extends 'layout.html' %}

{% load static %}
{% load compress %}

{% block meta %}
    <meta name="robots" content="index, nofollow">
{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="container">
        {# filters #}
        <div class="col-md-6 offset-md-3 mt-5">
            <label for="churchFilter">Filter Church</label>
            <select id="churchFilter" class="custom-select" onchange="onEventsChurchChange(this.value)">
                <option value="None"{% if current_church == 'None' %} selected{% endif %}>All Churches</option>
                {% for church in churches %}
                    <option value="{{ church.slug }}"{% if current_church == church.slug %} selected{% endif %}>{{ church.name }}</option>
                {% endfor %}
            </select>
        </div>

        {% for event in events %}
            {% ifchanged event.start.date %}
                <h4 class="mt-5 text-primary local-date" data-date="{{ event.start.date|date:'U' }}"></h4>
            {% endifchanged %}

            <div class="card my-3">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title mb-0">{{ event.title }}</h5>
                        <span class="badge badge-info local-time" data-time="{{ event.start|date:'U' }}">
                            <i class="fas fa-clock me-1"></i>
                        </span>
                    </div>
                    <div class="small">{{ event.church|upper }}</div>

                    {% if event.in_person or event.live_stream %}
                        <div class="small">
                            {% if event.in_person %}
                                <span class="text-secondary me-3"><i class="fas fa-church me-1"></i>In Church</span>
                            {% endif %}
                            {% if event.live_stream %}
                                <span class="text-primary"><i class="fas fa-video me-1"></i>Live Stream</span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if event.attendance_limit != 0 and event.attendance_signup %}
                        <div class="font-weight-bold mt-2">
                            Space available: <span
                                class="{% if event.available_attendance == 0 %}text-danger{% else %}text-success{% endif %}">{{ event.available_attendance }}</span>
                        </div>
                    {% endif %}

                    {% if event.description or event.address or event.map_search_query %}
                        <hr>
                    {% endif %}

                    {% if event.description %}
                        <h6>Description:</h6>
                        <p>{{ event.description }}</p>
                    {% endif %}

                    {% if event.address %}
                        <h6>Address:</h6>
                        <p>{{ event.address }}</p>
                    {% endif %}

                    {# TODO: Map intagration #}
                </div>
                {% if event.live_stream or event.available_attendance is not 0 and event.attendance_signup %}
                    <div class="card-footer">
                        <div class="text-center">
{#                            {% if event.in_person %}#}
{#                                <a href="" class="btn btn-sm btn-light"><i#}
{#                                        class="fas fa-map-marked me-1 text-mg-primary"></i> Directions</a>#}
{#                            {% endif %}#}
                            {% if event.available_attendance is not 0 and event.attendance_signup %}
                                <a href="{% url 'schedules:attendants-create' church=event.church event=event.id %}"
                                       class="btn btn-sm btn-round btn-primary me-2">Signup <i
                                            class="fas fa-pen ms-1"></i></a>
                            {% endif %}
                            {% if event.live_stream %}
                                <a href="{% url 'streams:streams-list' %}" class="btn btn-sm btn-round btn-outline-primary"><i class="fas fa-circle text-danger me-1"></i>Live</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block js %}
    {% compress js inline %}
        <script>
            function onEventsChurchChange(church) {
                if (church !== 'None') {
                    window.location.href = "{% url 'schedules:events-list' %}" + church + "/";
                } else {
                    window.location.href = "{% url 'schedules:events-list' %}";
                }
            }
        </script>
    {% endcompress %}
{% endblock %}