{% extends '_layout.html' %}

{% load static %}
{#{% load compress %}#}
{% load crispy_forms_tags %}

{#{% block css %}#}
{#    {% compress css inline %}#}
{#    <style>#}
{#        @media print {#}
{#            nav {#}
{#                visibility: hidden;#}
{#            }#}
{##}
{#            .btn {#}
{#                visibility: hidden;#}
{#            }#}
{##}
{#            a {#}
{#                text-decoration: none;#}
{#                color: inherit;#}
{#            }#}
{#        }#}
{#    </style>#}
{#    {% endcompress %}#}
{#{% endblock %}#}

{% block content %}

  <div class="px-3 md:px-0 py-4">

    <a href="{% url 'schedules:events-admin-list' %}" class="btn btn-outline"><i
        class="fas fa-arrow-left mr-1"></i>Back
    </a>

    <div class="card bg-base-100 my-4">
      <div class="card-body">
        <h3 class="card-title">{{ event.title }}</h3>
        <span class="badge badge-secondary">{{ event.church }}</span>
        <div class="flex justify-between py-2">
          <div class="text-center">
            <small class="font-bold">Start</small>
            <h6 class="mb-3">
              {{ event.start|date:'D, d M Y g:i a' }}
            </h6>
          </div>
          <div class="text-center">
            <small class="font-bold">End</small>
            <h6 class="mb-3">
              {{ event.end|date:'D, d M Y g:i a' }}
            </h6>
          </div>
        </div>

        {% if not event.attendants.all %}
          <div><span class="font-bold">Space Limit:</span> {{ event.attendance_limit }}</div>
          <div><span class="font-bold">Signed up Total:</span> {{ event.total_attendants }}</div>
          <div class="mb-3"><span
              class="font-bold">Space Available:</span> {{ event.available_attendance }}</div>
        {% endif %}

        {% if event.attendants.all %}
          <div class="overflow-x-auto">
            <table class="table w-full">
              <thead>
              <tr>
                <th>Name</th>
                <th>Amount</th>
                <th class="d-print-none">Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for attendant in event.attendants.all %}
                <tr class="text-nowrap">
                  <td>
                    {{ attendant.full_name }}
                  </td>
                  <td>{{ attendant.amount }}</td>
                  <td class="d-print-none">
                    <a href="{% url 'schedules:attendants-admin-detail' event=event.pk pk=attendant.pk %}"
                       class="btn btn-sm btn-outline-default shadow">
                      <i class="fas fa-clipboard-list"></i>
                    </a>
                  </td>
                </tr>
                {% if forloop.last %}
                  <tr>
                    <td class="text-right">Limit</td>
                    <td>{{ event.attendance_limit }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Total</td>
                    <td>{{ event.total_attendants }}</td>
                  </tr>
                  <tr>
                    <td class="text-right font-weight-bold">Space available</td>
                    <td>{{ event.available_attendance }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        <div class="flex justify-center space-x-3 pt-4">
          {% if perms.schedules.change_event %}
            <a href="{% url 'schedules:events-admin-update' pk=event.id %}"
               class="btn btn-warning">
              <i class="fas fa-edit mr-1"></i>Edit
            </a>
          {% endif %}
          {% if perms.schedules.delete_event %}
            <button class="btn btn-error" data-bs-toggle="modal" data-bs-target="#delete-modal">
              <i class="fas fa-trash mr-1"></i>Delete
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete {{ event.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ event.title }}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-default shadow" data-bs-dismiss="modal"
                  aria-label="Close">Close
          </button>
          <form method="post" action="{% url 'schedules:events-admin-delete' pk=event.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger shadow">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
