{% extends 'admin-list-layout.html' %}

{% block add_btn %}
    {% if perms.schedules.add_eventtemplate %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block table_head %}
    <tr>
        <th>Title</th>
        <th class="flex justify-end">Actions</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for et in event_templates %}
        <tr>
            <td>{{ et.title }}</td>
            <td class="flex justify-end space-x-2">
                {% if perms.schedules.change_eventtemplate %}
                    <a href="{% url 'schedules:event-templates-admin-update' pk=et.id %}"
                       class="btn btn-sm btn-secondary">
                        <i class="fas fa-edit"></i>
                    </a>
                {% endif %}
                {% if perms.schedules.delete_eventtemplate %}
                    <form method="post" action="{% url 'schedules:event-templates-admin-delete' pk=et.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-error">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                    {#                    <a href="{% url 'schedules:event-templates-admin-delete' pk=et.id %}" class="btn btn-sm btn-danger">#}
                    {#                        <i class="fas fa-trash"></i>#}
                    {#                    </a>#}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
