{% extends '_manage_layout.html' %}

{% load static %}
{#{% load compress %}#}

{% block tab_content %}

  {% if btn_add_href and perms.schedules.add_event %}
    <div class="flex justify-between pt-3">
      <div>
        {% url 'schedules:events-admin-all-list' as all_events_url %}
        {% if request.path == all_events_url %}
          <a href="{% url 'schedules:events-admin-list' %}" class="btn btn-ghost">Show
            Current</a>
        {% else %}
          <a href="{% url 'schedules:events-admin-all-list' %}" class="btn btn-ghost">Show
            All</a>
        {% endif %}
        <a href="{% url 'schedules:event-templates-admin-list' %}" class="btn btn-secondary">Templates</a>
      </div>
      <a href="{{ btn_add_href }}" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Add</a>
    </div>
  {% endif %}

  <div id="paginated-content">
    {% include 'schedules/partials/event-admin-list-partial.html' %}
  </div>

{% endblock %}